body {
    font-family: 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}
p {
    color: #40514E;
}
hr {
    margin-top: 40px;
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
}
#last-hr{
    margin-top: 100px;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Merriweather', serif;
}

#intro{
    width: 30%;
    margin: auto;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 40px 0;
}
.bottom-container {
    margin-top: 50px;
    background-color: #66BFBF;
    padding: 30px;
}

#mountainImage {
    width: 40%;
}
#profileImage{
    width: 5%;
}
#comp-image {
    width: 15%;
    float: left;
    margin-right: 30px;
    clip-path: circle(60px at center);
}
#camera-image {
    width: 14%;
    float: right;
    margin-left: 30px;
}
.top-cloud {
    position:absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position:absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    margin: 50px auto;
    width: 50%;
    text-align: left;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height: 3;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  #footer-paragraph{
      color: #EAF6F6;
  }

  .footer-link {
      padding-right: 20px;
      text-decoration: none;
  }
  a:hover {
      color: #EAF6F6;
  }